body{
	background: #F5F5F5;
}
.crumbs{
	width: 100%;
	height: auto;
	border-top: 1px solid #E8E8E8;
	background: #FFFFFF;
}
.crumbs-box{
	width: 1240px;
	height:45px;
	margin: 0 auto;
}
.crumbs-box a,span{
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 45px;
	color: #848484;
    display: inline;
}
.crumbs-box span{
	color: #000000;
}
.crumbs-box a:hover{
	color: #23ac38;
}
.category-outbox{
	width: 100%;
	height: auto;
	background: #FFFFFF;
}
.category{
	width: 1240px;
	height: 146px;
	margin: 0 auto;
	font-size: 14px;
	font-family: "微软雅黑";
}
.category-aline{
	height: 49px;
	width: 100%;
	border-top: 1px solid #E8E8E8;
}
.category-aline b{
	color: #31373c;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 60px;
}
.category-aline a{
	color: #848484;
    display: inline-block;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    padding-right: 15px;
    text-decoration: none;
    width: 100px;
}
.category-aline a:hover{
	color: #23ac38;
}
.goods-showbox{
	width: 1240px;
	height: auto;
	margin: 20px auto;
	font-family: "微软雅黑";
}
.goods-showbox ul{
	width: 100%;
	height: auto;
}
.goods-showbox ul li{
	width: 240px;
	height: 300px;
	float: left;
	margin: 3px 4px;
	background: #FFFFFF;
	overflow: hidden;
	left: 0;
	top: 0;
}
.list-product-card{
	width: 240px;
	height: 356px;
}
.list-product-card dl{
	width: 240px;
	height: 285px;
	text-align: center;
}
.list-product-card dl dt{
	width: 240px;
	height: 240px;
}
.list-product-card dl dt a{
	display: inline-block;
	line-height: 240px;
	height: 180px;
	width: 180px;
	margin: 0 auto;
}
.list-product-card dl dt a img{
	width: 100%;
	vertical-align: middle;
}
.list-product-card dl dt a span{
	width: 0;
	height: 240px;
	vertical-align: middle;
}
.list-product-card dl dd{
	width: 240px;
	height: 45px;
}
.list-product-card dl dd a{
	width: 240px;
	height: 45px;
	overflow: hidden;
}
.list-product-card dl dd a span{
	color: #31373c;
	display: block;
	width: 95%;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}
.list-product-card dl dd a b{
	color: #fa5437;
	font-size: 14px;
	display: block;
	width: 100%;
	height: 24px;
	line-height: 24px;
}
