.crumbs{
	width: 100%;
	height: auto;
	border-top: 1px solid #E8E8E8;
}
.crumbs-box{
	width: 1240px;
	height:45px;
	margin: 0 auto;
}
.crumbs-box a,span{
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 45px;
	color: #848484;
    display: inline;
}
.crumbs-box span{
	color: #000000;
}
.crumbs-box a:hover{
	color: #23ac38;
}
.category{
	width: 1240px;
	height: 146px;
	margin: 0 auto;
	font-size: 14px;
	font-family: "微软雅黑";
}
.category-aline{
	height: 49px;
	width: 100%;
	border-top: 1px solid #E8E8E8;
}
.category-aline b{
	color: #31373c;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 60px;
}
.category-aline a{
	color: #848484;
    display: inline-block;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    padding-right: 15px;
    text-decoration: none;
    width: 100px;
}
.category-aline a:hover{
	color: #23ac38;
}
