.good-intro {
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #E8E8E8;
}

.good-intro-box {
	width: 1240px;
	margin: 0 auto;
	overflow: hidden;
}
.good-pic-box{
	width: 620px;
	height: 580px;
	padding-top: 20px;
	float: left;
	text-align: center;
}
.good-left-pic {
	width: 480px;
	height: 480px;
	margin: 0 auto;
}

.tb-pic a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.tb-pic a img {
	vertical-align: middle;
	width: 100%;
}

.tb-pic a {
	*display: block;
	*font-family: Arial;
	*line-height: 1;
}

.tb-thumb {
	margin: 80px 20px 0;
	overflow: hidden;
}

.tb-thumb li {
	background: none repeat scroll 0 0 transparent;
	float: left;
	height: 66px;
	margin: 0 6px 0 0;
	overflow: hidden;
	padding: 1px;
}

.tb-s310,
.tb-s310 a {
	height: 480px;
	width: 480px;
}

.tb-s310,
.tb-s310 img {
	width: 400px;
	max-height: 400px;
}

.tb-s310 a {
	*font-size: 271px;
}

.tb-s40 a {
	*font-size: 35px;
}

.tb-s40,
.tb-s40 a {
	height: 66px;
	width: 66px;
}

.tb-booth {
	position: relative;
	z-index: 1;
	margin:  0 auto;
}

.tb-thumb .tb-selected {
	background: none repeat scroll 0 0 #C30008;
	height: 66px;
	padding: 2px;
}

.tb-thumb .tb-selected div {
	background-color: #FFFFFF;
	border: medium none;
}

.tb-thumb li div {
	border: 1px solid #CDCDCD;
}

div.zoomDiv {
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	display: none;
	text-align: center;
	overflow: hidden;
}

div.zoomMask {
	position: absolute;
	background: url(../images/mask.png) repeat scroll 0 0 transparent;
	cursor: move;
	z-index: 1;
}

.good-right-intro{
	font-family: "微软雅黑";
	width: 620px;
	height: 534px;
	float: left;
	padding: 20px 0;
}
.intro-tr{
	margin-top: 25px;
    padding-bottom: 8px;
   	overflow: hidden;
}
.intro-tr strong{
	color: #0e0e0e;
    display: block;
    font-size: 28px;
    font-weight: 400;
    max-height: 70px;
    overflow: hidden;
    width: 600px;
}
.intro-tr em{
	color: #666;
    font-size: 14px;
    line-height: 24px;
    max-height: 85px;
    overflow: hidden;
    padding: 10px 0;
    width: 600px;
    margin-top: 10px;
}
.good-price {
	width: 100%;
	margin-top: 10px;
}
.good-price span{
	background: #f8f8f8;
    color: #fa5437;
    width: 100%;
    display: inline-block;
    font-size: 36px;
    font-style: normal;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}
.inrto-gift{
	overflow: hidden;
	margin-top: 20px;
}
.inrto-gift i{
	height: 23px;
    line-height: 23px;
    background: #fa5437;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    padding: 0 9px;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.inrto-gift a{
	display: inline-block;
    font-weight: 400;
    margin-bottom: -4px;
    max-width: 218px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inrto-gift a:hover{
	text-decoration: underline;
}
.inrto-gift em{
	color: #a0a0a0;
	display: inline;
    font-style: normal;
    padding: 0 40px;
    font-size: 12px;
    width: 50px;
}
.intro-category{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
}
.intro-category span{
	color: #848484;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 55px;
}
.intro-category ul{
	float: left;
	overflow: hidden;
}
.intro-category ul li{
	float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.intro-category ul li a{
	border: 1px #ddd solid;
    color: #0e0e0e;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.intro-category ul li a:hover{
	border: 1px #fa5437 solid;
    color: #fa5437;
}
.buy-count{
	width: 143px;
	height: 32px;
	float: left;
}
.buy-count em{
	border: 1px solid #E8E8E8;
	float: left;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-family: simsun;
    font-size: 16px;
    overflow: hidden;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.buy-count em:hover{
	color: #FA5437;
}
.buy-count .disabled{
	color: #DDDDDD;
}
.buy-count input{
	background: #fff;
    border: 1px #ccc solid;
    border-left: none;
    border-right: none;
    color: #000;
    font-family: arial;
    font-size: 13px;
    padding: 0;
    text-align: center;
    width: 40px;
    float: left;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.item-show-addtocart{
	background: #fd532d;
	border-radius: 2px;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 240px;
}
.item-show-btn-ico{
	background-image: url(http://p3.qhimg.com/t01eb758e784660b859.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: .5em;
    vertical-align: middle;
    width: 20px;
}
.item-show-btn-add{
	background-position: 0 0;
}
.item-show-like{
	background: #adadad;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-left: 16px;
    text-align: center;
    width: 150px;
}
.item-show-like:hover{
	background: #c8c8c8;
    color: #fff;
}
.item-show-like:hover span{
	background-position: 0 -40px;
}
.item-show-btn-like{
	background-position: 0 -20px;
}
.guarentee li{
	color: #848484;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 36px;
    background: url(../images/ico-itemshow-1.png) no-repeat;
}
.guarentee .at7{
	background-position: 0 -50px;
}
.guarentee .at15{
	background-position: 0 -98px;
	
}
.dp_wrap_title{
	font-family: "微软雅黑";
	clear: both;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    overflow: hidden;
    width: 1240px;
}
.dp-recommend{
	width: 1240px;
	height: 250px;
	margin: 0 auto;
	border: 1px solid #E5E5E5;
}
.dp-recommend ul{
	width: 100%;
	overflow: hidden;
}
.dp-recommend ul li{
	float: left;
	width: 210px;
	height: 245px;
}
.dp-recommend ul li i{
	color: #D2D2D2;
    float: left;
    font-size: 40px;
    height: 245px;
    line-height: 245px;
    width: 30px;
    text-align: center;
}
.dp_p_pre{
	background-color: #FEFEFE;
    border-right: 1px solid #E5E5E5;
}
.dp_p_wrap{
	width: 162px;
	height: 243px;
	float: left;
}
.dp_p_wrapimg{
	display: block;
    height: 120px;
    margin: 40px auto 15px;
    width: 120px;
}
.dp_p_wrapimg img{
	height: 120px;
    vertical-align: top;
    width: 120px;
}
.dp_p_pname{
	font: 14px/1.5 "微软雅黑";
	display: block;
    padding: 0 5px;
    text-align: center;
    color: #666666;
}
.dp_p_price{
	color: #F63C30;
    margin-top: 5px;
    text-align: center;
}
.dp_number{
	margin-top: 70px;
	font-size: 14px;
	text-align: center;
	font-family: "微软雅黑";
	color: #666666;
}
.dp_price{
	margin: 10px 0;
	text-align: center;
	font-family: "微软雅黑";
	color: #666666;
}
.dp_price span{
	color: #F63C30;
    display: inline-block;
    font-size: 16px;
}
.dp_addcart{
	font-family: "微软雅黑";
	text-align: center;
	font-size: 14px;
	background-color: #F63C30;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 8px 30px;
    margin-left: 40px;
}
.nav-stair{
	font-family: "微软雅黑";
	width: 100%;
	height: 60px;
	border: 1px solid #E8E8E8;
	border-left: none;
	border-right: none;
	margin-top: 20px;
	background: #FFFFFF;
	top: 0;
	left: 0;
}
.nav-stair-wrap{
	width: 1240px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
}
.nav-stair-wrap a{
	font-size: 18px;
	color: #31373c;
	line-height: 60px;
}
.nav-stair-wrap .active{
	color: #6ec177;
}
.nav-stair-wrap a:hover{
	color: #6ec177;
}
.nav-stair-wrap a:before{
	content: "/";
	color: #DCDCDC;
	margin: 0 15px;
}
.nav-stair-wrap .chart{
	float: right;
	width: 240px;
	height: 50px;
	background: #fd532d;
	margin-top: 5px;
	cursor: pointer;
}
.nav-stair-wrap .chart i{
	background: url(http://p3.qhimg.com/t01eb758e784660b859.png) no-repeat;
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-left: 70px;
  	
}
.nav-stair-wrap .chart span{
	float: left;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 50px;
	margin-left: 5px;
}
.product-detail{
	width: 1000px;
	overflow: hidden;
	margin: 20px auto 0;
}
.product-detail img{
	width: 100%;
}
.product_gTit{
	font-family: "微软雅黑";
	background: #fff;
    border-bottom: 1px #e6e9ed solid;
    color: #000;
    font-size: 20px;
    height: 49px;
    line-height: 49px;
    margin: 0 auto 20px;
    width: 1240px;
}
.product-param{
	width: 1000px;
	margin-top: 10px;
	overflow: hidden;
	margin: 0 auto;
}
.product-param img{
	width: 100%;
}
.commonQ{
	width: 1000px;
	overflow: hidden;
	margin:10px auto 0;
	font-family: "微软雅黑";
}
.commonQ dl{
	width: 100%;
	overflow: hidden;
}
.commonQ dl i{
	background: url(http://p0.qhimg.com/t0147bb66948b7f6357.png) left top no-repeat;
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
    width: 35px;
}
.commonQ dl dt{
	width: 100%;
	overflow: hidden;
}
.commonQ dl dt b{
	font-weight: 700;
	display: inline-block;
	font-size: 18px;
	width: 35px;
}
.commonQ dl dt span{
	color: #333;
    line-height: 30px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 400;
}
.commonQ dl dd{
	color: #666;
    margin: 20px 0;
    padding: 0 0 15px 38px;
}
.commonQ dl dd span{
	font-size: 13px;
}


